

/* ---------------------
   [    Base Styles    ]
   --------------------- */

   html, 
   body {
       /* background: gray; */
       font-size: 18px;
       line-height: 1.4;
       font-family: Helvetica;
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       width: 100%;
   }


   /* ---------------------
   [    Header Styles    ]
   --------------------- */
   
header {
    background-image: url(../images/glasses-bg.png);
    background-position: center;
    background-size: cover;
    padding-top: 1rem;
}

.header-container {
    height: 30rem;
    width: 960px;
    margin: 0 auto;

}


.nav-bar {
   background: cadetblue;
   color: white;
   display: flex;
   justify-content: space-between;
}

.logo-header img {
    height: 1.5rem;
    margin-left: 2rem;
}

.logo-header span {
    margin-left: 1rem;
    font-size: 1rem;
}

.mobile-nav {
    display: none;
}

.logo-header {
    display: flex;
    align-items: center;
}

.main-nav ul {
    list-style: none;
    display: flex;
    margin-right: 2rem;
}

.main-nav li {
    margin-left: 2rem;
}

.slogan {
    text-align: right;
    margin-right: -2rem;
}

.slogan span {
    font-family: Helvetica;
    font-weight: bold;
    font-size:2rem;
    line-height: 1.2;
    background-color: white;
    padding: 1.5rem 5rem;
    margin-top: 10rem;
    display: inline-block;

}



   /* ---------------------
   [    Banner Styles    ]
   --------------------- */

main {
    width: 960px;
    margin: 0 auto;

}

.banner {
    display: flex;
    justify-content: center;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin: 3rem;
    width: 5rem;
    height: 8rem;
}

.exams img {
    width: 3.5rem;
}

.custom-fittings img, 
.fast-delivery img {
    width: 5rem;
}

   /* ---------------------
   [    Details Styles    ]
   --------------------- */

.details {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}


.details h3 {
    font-family: Helvetica;
    font-weight: bold;
    font-size: 1rem;
    text-transform: capitalize;
    background-color: cadetblue;
    color: white;
    width: 10rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.25rem;
    margin-bottom: 0;
}

.philosophy {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin-right: 2.5%;
}

.appointments {
    display: flex;
    flex-direction: column;
    width: 35%;  
    margin-left: 2.5%;
}

.details p {
    margin-top: 1rem;
}

   /* ---------------------
   [    Footer Styles    ]
   --------------------- */

footer {
    width: 960px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-color: azure;
}

footer img {
       margin: 4rem 1rem 4rem 4rem;
       height: 1.5rem;
   }


   /* ---------------------
   [    Media - 1024px   ]
   --------------------- */

   @media screen and (max-width: 1024px) {
       html, body {
        max-width: 100%;
       }

       header {
        background-image: url(../images/glasses-bg.png);
        background-position: center;
        background-size: cover;
        padding-top: 0;
       }

       .header-container {
           width: 100%;
           height: 22rem; 
       }

       .slogan {
           margin-right: 2rem;
       }

       .slogan span {
           font-size: 1.33rem;
           padding: 0.75rem 4rem;
           margin-top: 5rem;
       }

       main {
           width: 100%;
       }
   }

   @media screen and (max-width: 620px) {
       
   }